/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lato&display=swap');

:root {
    --body-width: 1900px;
    --body-height: 1500px;
    --header-font: 'Belanosima', sans-serif;
    --normal-text-font: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 45px;

    width: var(--body-width);
    height: var(--body-height);
}


/* Styling for "container__website-body" */
.container__website-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    width: calc(var(--body-width) - 400px);
    height: calc(var(--body-height) - 40px);

    background-color: lightblue;
    border-radius: 20px;
}


/* Styling for "container__website-body" 'h2'  */
.container__website-body h2 {
    color: black;
    font-size: 50px;
    font-family: var(--header-font);
}

/* Styling for "container__all-question" */
.container__all-question {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    height: 675px;

    
}

/* Styling for "container__question" */
.container__question {
    display: flex;
    flex-direction: column;

    width: 96%;
    height: 25%;


    padding: 25px;
    font-family: var(--header-font);

    & .text-input {
        padding-left: 12px;

        width: 96%;
        height: 150px;

        font-family: var(--normal-text-font);
        font-size: 25px;
    }
    /* Styling for all "container__question" 'h2' */
    & h2 {
        align-items: start;
        font-size: 30px;
    }
}

/* Styling for "container__all-btn" */
.container__all-btn {
    display: flex;
    justify-content: space-between;

    width: 96%;
    height: 150px;

    /* Styling for "container__btn" */
    & .container__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5px;

        width: calc(35px);
        height: 100%;

        /* Styling for 'p' */
        & p {
            font-family: var(--normal-text-font);
            font-size: 20px;
        }
        /* Styling for "ans-btn" */
        & .ans-btn {
            
            width: 25px;
            height: 25px;

            background-color: bisque;
            border: none;
            border-radius: 50%;

            transition: all 0.5s;
        }
    }
}

.selected {
    border: 1px solid blue;
}


/* Styling for "container__sumbit-btn" */
.container__sumbit-btn {
    margin-top: auto;
    display: flex;
    align-items: center;

    width: 600px;
    height: 100px;    
}

/* Styling for "sumbit-btn" */
    .sumbit-btn {
        width: 90%;
        height: 85%;

        background-color: rgb(137, 205, 228);
        border: none;
        border-radius: 20px;

        transition: all 0.5s;

        /* Styling for all "sumnit-btn" 'strong' */
        & strong {
            font-family:Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
    }

.sumbit-btn:hover {
    transform: scale(1.2);
}

/* Change website base on the screen size */
@media (max-width: 2000px)  {
    :root {
        --body-width: 1350px;
        --body-height: 1300px;
        --header-font: 'Belanosima', sans-serif;
        --normal-text-font: 'Lato', sans-serif;
    }

    .container__website-body {
        height: 100%
    }

    .container__all-question {
        height: 40%;
    }
}