/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lato&display=swap');

:root {
    --body-width: 1900px;
    --body-height: 1000px;
    --header-font: 'Belanosima', sans-serif;
    --normal-text-font: 
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 45px;

    width: var(--body-width);
    height: var(--body-height);
}


/* Style for "container__website-body" */
.container__website-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(var(--body-width) - 400px);
    height: calc(var(--body-height) - 70px);

    background-color: lightblue;
    border-radius: 20px;
}


/* Style for "container__website-body" 'h2'  */
.container__website-body h2 {
    color: black;
    font-size: 50px;
    font-family: var(--header-font);
}

/* Style for "container__all-question" */
.container__all-question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 675px;

    border: 1px solid red;

    /* Style for "container__question" */
}
.container__question {
    display: flex;
    flex-direction: column;

    width: 96%;
    height: 25%;
    border: 1px solid black;

    padding: 25px;
    font-family: var(--header-font);

    & h2 {
        align-items: start;
        font-size: 30px;
    }
}

/* Style for "container__all-btn" */
.container__all-btn {
    display: flex;
    justify-content: space-between;

    width: 96%;
    height: 150px;
    /* border: 1px solid red; */

    /* Style for "container__btn" */
    & .container__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5px;

        width: calc(35px);
        height: 100%;

        /* Style for 'p' */
        & p {
            font-family: var(--normal-text-font);
            font-size: 20px;
        }
        /* Style for "ans-btn" */
        & .ans-btn {
            
            width: 25px;
            height: 25px;

            background-color: bisque;
            border: none;
            border-radius: 50%;
        }
    }
}

